.navBar {
    top: 0;
    width: 100%;
    padding: .8rem 2rem !important;
}

.bg-body-tertiary.navBar {
    background: transparent !important;
}

.searchInput {
    border: none !important;
    padding: 0 !important;
    margin-left: 20px;
}

.btn-navbarBtn {
    font-weight: 800 !important;
    padding: .5rem !important;
    font-size: 16px !important;
    border: none !important;
    background-color: #374059 !important;
    border-radius: 50% !important;
    align-items: center !important;
    justify-content: center !important;
    color: rgb(255, 255, 255) !important;
    margin-right: 15px;
}

.btn-navbarBtn.profile {
    border-radius: 50%;
    padding: 1px !important;
    background-color: #984f40 !important;
    width: 2.5rem;
}

.btn-navbarBtn svg {
    margin: auto;
    display: flex;
}

.items {
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    padding: .5rem 1.5rem !important;
    border-radius: 5% !important;
    margin-right: 10px !important;
    background-color: #374059 !important;
    color: aliceblue !important;
}

.item {
    align-self: center;
    margin-top: 5px;
    font-size: 14px;
}

.item p {
    margin-bottom: 8px !important;
}

.brand {
    margin-right: 8rem !important;
    color: aliceblue !important;
}

.navbarRight {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
}

.dropdown-toggle::after {
    display: none 
    !important;
    margin-left: 0 !important;
    vertical-align: 0 !important;
}

.dropdown-menu {
    left: -80px !important;
}